TELEGRAM_TOKEN=8619865917:AAFpL698VYJHy56T3IamPhcELytXgauFphU
TELEGRAM_CHAT_ID=5086463703

LINKEDIN_EMAIL=pawanravichandranr@gmail.com
LINKEDIN_PASSWORD=70nkpwB4x09c1cRDvyQ!
LINKEDIN_PHONE=6369370578
